<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include("templates/links") %>

        <title>Blogmarket</title>
</head>

<body>
    <%- include("templates/navbar") %>
        <div class="container h-6000">
            <h1 class="center pt-5">Articles</h1>
            <div class="articles mt-10">
                <% articles.forEach(article => { %>
                    <div class="article m-10 pb-5 pt-5">
                        <h2>
                            <%= article.title %>
                        </h2>
                        <h3>
                            <%= article.date.toLocaleDateString() %>
                        </h3>
                        <p>
                            <%= article.description %>
                        </p>
                        <div class="buttons">
                            <ul>
                                <li><a href="#" class="btn">Show more</a></li>
                                <li><a href="#" class="btn btn-blue">Edit</a></li>
                                <li><a href="#" class="btn btn-orange">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
        <%- include("templates/footer") %>
</body>

</html>